* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808dff;
    height: 70px;
    padding: 0 16px;
}
.logo{
    width: 300px;
}
ul{
    margin: 0 24px 0 0;
}
.nav__link{
    margin: 0 16px;
    font-size: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cafdff;
    height: calc(100vh - 70px);
    padding: 24px;
}
.subheader{
    font-size: 24px;
}
h1{
    font-size: 60px;
}
h2{
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding: 32px 0;
}
.section__content{
    display: flex;
    align-items: center;
}
.section__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about, #discord, #contact{
    padding: 0 16px;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    display: flex;
    justify-content: center;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
a{
    color: #000;
    text-decoration:underline;
}
button{
    border: none;
    background-color:teal;
    color: #fff;
    font-size: 16px;
    padding: 16px 8px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
#about{
    background-color: #facdff;
    height:100vh;
}
#discord{
    background-color: #808dff;
    height: 100vh;
}
#contact{
    background-color: #cafdff;
    height: calc(100vh - 80px);
}
footer{
    background-color: #808dff;
    height: 80px;
    padding-top: 16px;
}
p, label, input, textarea{
    margin-bottom: 8px;
}
br{
    margin: 24px 0;
}