@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  font-family: "Lato", sans-serif;

}

a {
    text-decoration: none;
    color: #242424;
    transition: all 300ms ease;
}
a:hover{
    border-bottom: 2px #000 solid;
}
.container{
    padding: 80px 0;
}
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-wrapper {
    display: flex;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row-text {
    display: flex;
    justify-content: center;
}
.row-text a{
    margin-right: 8px;
}
footer .row-text {
    margin-bottom: 24px;
}


.header-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-container a{
    
    font-size: 28px;
}
.logo-container img{
    width: 80px;
    margin-right: 8px;
}

.sources {
    display: flex;
}

.services {
    display: flex;
    flex-wrap: wrap;
}
.service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service-description {
    display: flex;
    flex-direction: column;
}

.section-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer-links{
    width: 50%;
    display: block;
}

.section-title{
    text-align: center;
    margin-bottom: 24px;
}

.section-img{
    width: 50%;
}



img{
    width: 100%;
}

.plans {
    display: flex;
    flex-wrap: wrap;
}
.plan {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer{
    background-color: #333;
}

button{
    width: 20%;
    margin: 0 auto;
    padding: 5px 7px;
}

input{
    width: 50%;
    margin: 0 auto;
}


@media (max-width: 856px) {
    .flex-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .service{
        align-items: center;
        justify-content: center;
    }

}